body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-flow: wrap;
    font-size: 24px;
    line-height: 32px;
    gap: 20px 8px;
    width: 60vw;
}