.ml-20{margin-left:20px}.block{display:block}.size-200{width:200px;height:200px}.w-457{width:457px}.w-60{width:60px}.w-80{width:80px}.flex{display:flex}.b,.border{border-width:1px}.font-size-50{font-size:50px}
