.handle {
  position: relative;
  width: 1px;

  & :global(.devops-resize-handle-line) {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--mantine-color-gray-3);
  }

  &[data-separator="hover"],
  &[data-separator="drag"] {
    & :global(.devops-resize-handle-line) {
      width: 3px;
      left: -1px;
      background-color: var(--mantine-color-blue-5);
    }
  }
}
