.label {
  font-size: 12px;
  fill: black;
  user-select: none;
}

.line {
  stroke: #aaa;
  stroke-width: 1.5;
}

.edge {
  stroke: black;
  stroke-width: 1.5;
}

.sightSvg {
  width: 300px;
  height: 100px;
}

.circle {
  fill: white;
  stroke: black;
  stroke-width: 1.5;
}

.curve {
  fill: none;
  stroke: black;
  stroke-width: 1.5;
}
